apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  labels:
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: cluster-api-provider-azure
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    application.giantswarm.io/team: '{{ index .Chart.Annotations "application.giantswarm.io/team"
      }}'
    control-plane: controller-manager
    helm.sh/chart: cluster-api-provider-azure
  name: azureserviceoperator-pdb
  namespace: '{{ .Release.Namespace }}'
spec:
  minAvailable: 50%
  selector:
    matchLabels:
      control-plane: controller-manager
  unhealthyPodEvictionPolicy: AlwaysAllow
