apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: cluster-api-provider-azure
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    application.giantswarm.io/team: '{{ index .Chart.Annotations "application.giantswarm.io/team"
      }}'
    cluster.x-k8s.io/aggregate-to-capz-manager: "true"
    cluster.x-k8s.io/provider: infrastructure-azure
    helm.sh/chart: cluster-api-provider-azure
  name: capz-base-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - list
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - bootstrap.cluster.x-k8s.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters/status
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - machinepools
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - machinepools/finalizers
  - machinepools/status
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - machines
  - machines/status
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - containerservice.azure.com
  resources:
  - fleetsmembers
  - managedclusters
  - managedclustersagentpools
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - containerservice.azure.com
  resources:
  - fleetsmembers/status
  - managedclusters/status
  - managedclustersagentpools/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - azureasomanagedclusters
  - azureasomanagedcontrolplanes
  - azureasomanagedmachinepools
  - azureclusteridentities
  - azureclusteridentities/finalizers
  - azureclusteridentities/status
  - azureclusters
  - azuremachinepoolmachines
  - azuremachinepools
  - azuremachines
  - azuremanagedclusters
  - azuremanagedcontrolplanes
  - azuremanagedmachinepools
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - azureasomanagedclusters/finalizers
  - azureasomanagedcontrolplanes/finalizers
  - azureasomanagedmachinepools/finalizers
  verbs:
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - azureasomanagedclusters/status
  - azureasomanagedcontrolplanes/status
  - azureasomanagedmachinepools/status
  - azureclusters/finalizers
  - azureclusters/status
  - azuremachinepoolmachines/status
  - azuremachinepools/finalizers
  - azuremachinepools/status
  - azuremachines/finalizers
  - azuremachines/status
  - azuremanagedclusters/status
  - azuremanagedcontrolplanes/finalizers
  - azuremanagedcontrolplanes/status
  - azuremanagedmachinepools/finalizers
  - azuremanagedmachinepools/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - azuremachinepoolmachines/finalizers
  verbs:
  - get
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - azuremachinetemplates
  - azuremachinetemplates/finalizers
  - azuremachinetemplates/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kubernetesconfiguration.azure.com
  resources:
  - extensions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubernetesconfiguration.azure.com
  resources:
  - extensions/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - network.azure.com
  resources:
  - bastionhosts
  - natgateways
  - privateendpoints
  - virtualnetworks
  - virtualnetworkssubnets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - network.azure.com
  resources:
  - bastionhosts/finalizers
  - bastionhosts/status
  - natgateways/finalizers
  - natgateways/status
  - privateendpoints/finalizers
  - privateendpoints/status
  - virtualnetworks/finalizers
  - virtualnetworks/status
  - virtualnetworkssubnets/finalizers
  - virtualnetworkssubnets/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - resources.azure.com
  resources:
  - resourcegroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - resources.azure.com
  resources:
  - resourcegroups/finalizers
  - resourcegroups/status
  verbs:
  - get
  - list
  - watch
