apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: cluster-api-provider-azure
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    application.giantswarm.io/team: '{{ index .Chart.Annotations "application.giantswarm.io/team"
      }}'
    helm.sh/chart: cluster-api-provider-azure
  name: aso-controller-settings
  namespace: '{{ .Release.Namespace }}'
stringData:
  AZURE_AUTHORITY_HOST: ""
  AZURE_CLIENT_ID: ""
  AZURE_RESOURCE_MANAGER_AUDIENCE: ""
  AZURE_RESOURCE_MANAGER_ENDPOINT: ""
  AZURE_SUBSCRIPTION_ID: ""
  AZURE_SYNC_PERIOD: ""
  AZURE_TENANT_ID: ""
  AZURE_USER_AGENT_SUFFIX: cluster-api-provider-azure/v1.20.2-gs-c8fd00c00
type: Opaque
