version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build:
    jobs:
      - architect/push-to-app-catalog:
          name: push-to-control-plane-catalog
          context: architect
          chart: cluster-api-provider-azure
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          filters:
            branches:
              ignore:
                - main
                - master
            tags:
              only: /^v.*/
