# -- Image settings.
image:
  # -- Image registry.
  registry: gsoci.azurecr.io
  # -- Image repository.
  name: giantswarm/cluster-api-azure-controller
  # -- Image tag.
  tag: v1.20.2-gs-c8fd00c00

# -- Azure Service Operator settings.
aso:
  # -- Image settings.
  image:
    # -- Image registry.
    registry: gsoci.azurecr.io
    # -- Image repository.
    name: giantswarm/azureserviceoperator

# -- Workload cluster settings.
workloadCluster:
  # -- SSH settings.
  ssh:
    # -- SSO public key.
    ssoPublicKey: ""

# -- Controller settings.
controller:
  # -- Log verbosity.
  verbosity: 0

# -- Vertical Pod Autoscaler settings.
verticalPodAutoscaler:
  # -- Whether to enable Vertical Pod Autoscaler or not.
  enabled: true

# -- Cilium Network Policy settings.
ciliumNetworkPolicy:
  # -- Whether to enable Cilium Network Policy or not.
  enabled: false

# -- Service Monitor settings.
serviceMonitor:
  # -- Whether to enable Service Monitor or not.
  enabled: true

# -- CRD install job settings.
crds:
  # -- Whether to install CRDs or not.
  install: true
