name: Templates
on: pull_request
jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Generate templates
      run: make generate
    - name: Output template
      run: helm/cluster-api-provider-azure/charts/crd-install/files/infrastructure/kustomization.yaml
    - name: Verify templates
      run: git diff --exit-code
